
<section >
  <div class="container py-5">
  <div class="row justify-content-center mb-3">
    <h1> Project </h1> <br><hr>
  </div>

    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">

              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>Name: <span style="font-weight:normal"><%= @project.name %></span></h5>
                <h5>Description: <span style="font-weight:normal"> <%= @project.description %></span></h5>
                <h5>Project Users:</h5>
                <% @count = 1 %>
                <%  @project.users.each do |cp| %>
                <% if cp.role != "manager" %>
                <h5> <%= @count %>. Name: <span style="font-weight:normal"> <%= cp.name %></span> Email: <span style="font-weight:normal"> <%= cp.email %></span></h5>
                <%  @count += 1 %>
                <%end%>
                <%end%>

              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">                         
                <div class="d-flex flex-column mt-1">
                 <%= button_to "Back to projects", projects_path,  method: :get %>
                      <hr>
                      <% if can? :edit, @project %>
                      <%= button_to "Edit Project", edit_project_path(@project),  method: :get %> <hr>
                      <%= button_to "Delete Project", project_path(@project), method: :delete %>
                    <%end%>                     
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<section>
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
        <div class="row justify-content-center mb-3"> <h1> Project Bugs </h1> 
        <h4> <%= link_to "Add New Bug", new_project_bug_path(@project) %>  </h4> <hr>
            <% @user_bugs.each do |bug|%>
                <% if can? :update, bug %>
                      

                <div class="col-md-12 col-xl-10">
                  <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                      <div class="row">
                      
                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                          <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                <%= image_tag bug.image_url(:thumb) if bug.image? %>
                                
                                <a href="#!">
                                  <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                  </div>
                                </a>
                          </div>
                        </div>
          
                        <div class="col-md-6 col-lg-6 col-xl-6">
                        <h5> Title: <span style="font-weight:normal"> <%= bug.title%></span></h5>
                        <h5> Description: <span style="font-weight:normal"> <%= bug.description%></span></h5>
                        </div>
                            
                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                          <div class="d-flex flex-column mt-1">
                            <%= button_to "Show", project_bug_path(@project, bug),  method: :get %> <hr>
                            <%= button_to "EditBug", edit_project_bug_path(@project, bug),  method: :get %>
                          </div>
                        </div>



                      </div>
                      

                    </div>
                  </div>
                    <br>

                </div>
                <br>
                <br>
                
              <%end%> 
              
              <%end%> 
    
      </div>
    </div>
  </div>
</section>







